ModelClient/Connected Services/ModelServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.RTU" />
  <xs:element name="GetStaticData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaticDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.RTU" minOccurs="0" name="GetStaticDataResult" nillable="true" type="q1:ArrayOfRTU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRTU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRTUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.RTU" minOccurs="0" name="GetRTUResult" nillable="true" type="q2:RTU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>