ModelClient/Connected Services/ModelServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ModelService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IModelService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.RTU" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.Signals" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IModelService_GetStaticData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStaticData" />
  </wsdl:message>
  <wsdl:message name="IModelService_GetStaticData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStaticDataResponse" />
  </wsdl:message>
  <wsdl:message name="IModelService_GetRTU_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRTU" />
  </wsdl:message>
  <wsdl:message name="IModelService_GetRTU_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRTUResponse" />
  </wsdl:message>
  <wsdl:message name="IModelService_GetRTU_ModelServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary" name="detail" element="q1:ModelServiceException" />
  </wsdl:message>
  <wsdl:portType name="IModelService">
    <wsdl:operation name="GetStaticData">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelService/GetStaticData" message="tns:IModelService_GetStaticData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelService/GetStaticDataResponse" message="tns:IModelService_GetStaticData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRTU">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelService/GetRTU" message="tns:IModelService_GetRTU_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelService/GetRTUResponse" message="tns:IModelService_GetRTU_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IModelService/GetRTUModelServiceExceptionFault" name="ModelServiceExceptionFault" message="tns:IModelService_GetRTU_ModelServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IModelService" type="tns:IModelService">
    <wsp:PolicyReference URI="#NetTcpBinding_IModelService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetStaticData">
      <soap12:operation soapAction="http://tempuri.org/IModelService/GetStaticData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRTU">
      <soap12:operation soapAction="http://tempuri.org/IModelService/GetRTU" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ModelServiceExceptionFault">
        <soap12:fault use="literal" name="ModelServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ModelService">
    <wsdl:port name="NetTcpBinding_IModelService" binding="tns:NetTcpBinding_IModelService">
      <soap12:address location="net.tcp://localhost:65001/GettingStarted" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:65001/GettingStarted</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>