ModbusServiceHost/Connected Services/ModelServiceReference/ModelWcfServiceLibrary.Model.SignalMapping.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.SignalMapping" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.SignalMapping" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfModelAnalogSignalMapping">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelAnalogSignalMapping" nillable="true" type="tns:ModelAnalogSignalMapping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelAnalogSignalMapping" nillable="true" type="tns:ArrayOfModelAnalogSignalMapping" />
  <xs:complexType name="ModelAnalogSignalMapping">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="K" type="xs:double" />
      <xs:element minOccurs="0" name="N" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelAnalogSignalMapping" nillable="true" type="tns:ModelAnalogSignalMapping" />
  <xs:complexType name="ArrayOfModelDiscreteSignalMapping">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelDiscreteSignalMapping" nillable="true" type="tns:ModelDiscreteSignalMapping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelDiscreteSignalMapping" nillable="true" type="tns:ArrayOfModelDiscreteSignalMapping" />
  <xs:complexType name="ModelDiscreteSignalMapping">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DiscreteValueToState" nillable="true" type="q1:ArrayOfKeyValueOfunsignedBytestring" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelDiscreteSignalMapping" nillable="true" type="tns:ModelDiscreteSignalMapping" />
</xs:schema>