ModbusServiceHost/Connected Services/ModelServiceReference/ModelWcfServiceLibrary.Model.ScanPeriodMapping.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.ScanPeriodMapping" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.ScanPeriodMapping" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfSignalScanPeriodMapping">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SignalScanPeriodMapping" nillable="true" type="tns:SignalScanPeriodMapping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSignalScanPeriodMapping" nillable="true" type="tns:ArrayOfSignalScanPeriodMapping" />
  <xs:complexType name="SignalScanPeriodMapping">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SignalScanPeriodMapping" nillable="true" type="tns:SignalScanPeriodMapping" />
</xs:schema>