ModbusServiceHost/Connected Services/ModelServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.RTU" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.Signals" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.SignalMapping" />
  <xs:element name="GetAllRTUs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRTUsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.RTU" minOccurs="0" name="GetAllRTUsResult" nillable="true" type="q1:ArrayOfRTU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRTU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRTUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.RTU" minOccurs="0" name="GetRTUResult" nillable="true" type="q2:RTU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiscreteSignalsForRtu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiscreteSignalsForRtuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.Signals" minOccurs="0" name="GetDiscreteSignalsForRtuResult" nillable="true" type="q3:ArrayOfDiscreteSignal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalogSignalsForRtu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalogSignalsForRtuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.Signals" minOccurs="0" name="GetAnalogSignalsForRtuResult" nillable="true" type="q4:ArrayOfAnalogSignal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRTUsEssentialData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRTUsEssentialDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary" minOccurs="0" name="GetRTUsEssentialDataResult" nillable="true" type="q5:ArrayOfRTUData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalogSignalMappings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnalogSignalMappingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.SignalMapping" minOccurs="0" name="GetAnalogSignalMappingsResult" nillable="true" type="q6:ArrayOfAnalogSignalMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiscreteSignalMappings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiscreteSignalMappingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.SignalMapping" minOccurs="0" name="GetDiscreteSignalMappingsResult" nillable="true" type="q7:ArrayOfDiscreteSignalMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>