ModelClient/Connected Services/ModbusServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ModbusServiceLibrary.Model.RTU" />
  <xs:element name="ReadAnalogSignal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rtuId" type="xs:int" />
        <xs:element minOccurs="0" name="signalAddress" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAnalogSignalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadDiscreteSignal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rtuId" type="xs:int" />
        <xs:element minOccurs="0" name="signalAddress" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadDiscreteSignalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteAnalogSignal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rtuId" type="xs:int" />
        <xs:element minOccurs="0" name="signalAddress" type="xs:int" />
        <xs:element minOccurs="0" name="newValue" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteAnalogSignalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteDiscreteSignal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rtuId" type="xs:int" />
        <xs:element minOccurs="0" name="signalAddress" type="xs:int" />
        <xs:element minOccurs="0" name="newValue" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteDiscreteSignalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRtuData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRtuDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModbusServiceLibrary.Model.RTU" minOccurs="0" name="GetAllRtuDataResult" nillable="true" type="q1:ArrayOfRTUData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAnalogSignalValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rtuId" type="xs:int" />
        <xs:element minOccurs="0" name="signalAddress" type="xs:int" />
        <xs:element minOccurs="0" name="signalValue" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>