SchedulerHost/Connected Services/ModbusServiceReference/ModbusServiceLibrary.RtuCommands.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModbusServiceLibrary.RtuCommands" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModbusServiceLibrary.RtuCommands" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RtuCommandBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="RtuCommandBase" nillable="true" type="tns:RtuCommandBase" />
  <xs:complexType name="ConnectToRtuCommand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RtuCommandBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="RtuId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConnectToRtuCommand" nillable="true" type="tns:ConnectToRtuCommand" />
  <xs:complexType name="ReadSingleSignalCommand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RtuCommandBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="RtuId" type="xs:int" />
          <xs:element minOccurs="0" name="SignalId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReadSingleSignalCommand" nillable="true" type="tns:ReadSingleSignalCommand" />
  <xs:complexType name="WriteAnalogSignalCommand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RtuCommandBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="RtuId" type="xs:int" />
          <xs:element minOccurs="0" name="SignalId" type="xs:int" />
          <xs:element minOccurs="0" name="ValueToWrite" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WriteAnalogSignalCommand" nillable="true" type="tns:WriteAnalogSignalCommand" />
  <xs:complexType name="WriteDiscreteSignalCommand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RtuCommandBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="RtuId" type="xs:int" />
          <xs:element minOccurs="0" name="SignalId" type="xs:int" />
          <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WriteDiscreteSignalCommand" nillable="true" type="tns:WriteDiscreteSignalCommand" />
</xs:schema>