ModbusServiceLibrary/Connected Services/ModelServiceReference/ModelWcfServiceLibrary.Model.SignalMapping.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.SignalMapping" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.SignalMapping" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAnalogSignalMapping">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnalogSignalMapping" nillable="true" type="tns:AnalogSignalMapping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnalogSignalMapping" nillable="true" type="tns:ArrayOfAnalogSignalMapping" />
  <xs:complexType name="AnalogSignalMapping">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="K" type="xs:double" />
      <xs:element minOccurs="0" name="N" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnalogSignalMapping" nillable="true" type="tns:AnalogSignalMapping" />
  <xs:complexType name="ArrayOfDiscreteSignalMapping">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DiscreteSignalMapping" nillable="true" type="tns:DiscreteSignalMapping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDiscreteSignalMapping" nillable="true" type="tns:ArrayOfDiscreteSignalMapping" />
  <xs:complexType name="DiscreteSignalMapping">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Inverted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DiscreteSignalMapping" nillable="true" type="tns:DiscreteSignalMapping" />
</xs:schema>