ModbusServiceLibrary/Connected Services/ModelServiceReference/ModelWcfServiceLibrary.Model.Signals.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.Signals" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.Signals" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfModelAnalogSignal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelAnalogSignal" nillable="true" type="tns:ModelAnalogSignal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelAnalogSignal" nillable="true" type="tns:ArrayOfModelAnalogSignal" />
  <xs:complexType name="ModelAnalogSignal">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessType" type="tns:ModelSignalAccessType" />
      <xs:element minOccurs="0" name="Address" type="xs:int" />
      <xs:element minOccurs="0" name="Deadband" type="xs:double" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MappingId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelAnalogSignal" nillable="true" type="tns:ModelAnalogSignal" />
  <xs:simpleType name="ModelSignalAccessType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Input" />
      <xs:enumeration value="Output" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ModelSignalAccessType" nillable="true" type="tns:ModelSignalAccessType" />
  <xs:complexType name="ArrayOfModelDiscreteSignal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelDiscreteSignal" nillable="true" type="tns:ModelDiscreteSignal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelDiscreteSignal" nillable="true" type="tns:ArrayOfModelDiscreteSignal" />
  <xs:complexType name="ModelDiscreteSignal">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessType" type="tns:ModelSignalAccessType" />
      <xs:element minOccurs="0" name="Address" type="xs:int" />
      <xs:element minOccurs="0" name="Deadband" type="xs:double" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MappingId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignalType" type="tns:DiscreteSignalType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelDiscreteSignal" nillable="true" type="tns:ModelDiscreteSignal" />
  <xs:simpleType name="DiscreteSignalType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OneBit" />
      <xs:enumeration value="TwoBit" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DiscreteSignalType" nillable="true" type="tns:DiscreteSignalType" />
</xs:schema>