ModbusServiceLibrary/Connected Services/ModelServiceReference/ModelWcfServiceLibrary.Model.Flags.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.Flags" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.Flags" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFlag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Flag" nillable="true" type="tns:Flag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlag" nillable="true" type="tns:ArrayOfFlag" />
  <xs:complexType name="Flag">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommandAllowed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReadAllowed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Type" type="tns:FlagType" />
      <xs:element minOccurs="0" name="UserAssignable" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Flag" nillable="true" type="tns:Flag" />
  <xs:simpleType name="FlagType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Info" />
      <xs:enumeration value="Warn" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="Fatal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FlagType" nillable="true" type="tns:FlagType" />
</xs:schema>