SchedulerLibrary/Connected Services/ModelServiceReference/ModelWcfServiceLibrary.Model.RTU.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.RTU" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.RTU" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.Signals" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary" />
  <xs:complexType name="ArrayOfModelRTU">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelRTU" nillable="true" type="tns:ModelRTU" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelRTU" nillable="true" type="tns:ArrayOfModelRTU" />
  <xs:complexType name="ModelRTU">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.Signals" minOccurs="0" name="AnalogSignals" nillable="true" type="q1:ArrayOfModelAnalogSignal" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.Signals" minOccurs="0" name="DiscreteSignals" nillable="true" type="q2:ArrayOfModelDiscreteSignal" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary" minOccurs="0" name="RTUData" nillable="true" type="q3:ModelRTUData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelRTU" nillable="true" type="tns:ModelRTU" />
</xs:schema>