ModelClient/Connected Services/ServiceReference1/SharedModel.Model.RTU.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SharedModel.Model.RTU" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SharedModel.Model.RTU" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SharedModel.Model.Signals" />
  <xs:complexType name="ArrayOfRTU">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RTU" nillable="true" type="tns:RTU" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRTU" nillable="true" type="tns:ArrayOfRTU" />
  <xs:complexType name="RTU">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SharedModel.Model.Signals" minOccurs="0" name="AnalogSignals" nillable="true" type="q1:ArrayOfAnalogSignal" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SharedModel.Model.Signals" minOccurs="0" name="DiscreteSignals" nillable="true" type="q2:ArrayOfDiscreteSignal" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RTU" nillable="true" type="tns:RTU" />
</xs:schema>