ClientWpfApp/Connected Services/ModbusServiceReference/ModbusServiceLibrary.CommandResult.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModbusServiceLibrary.CommandResult" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModbusServiceLibrary.CommandResult" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ConnectToRtuResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommandStatus" type="tns:CommandStatus" />
      <xs:element minOccurs="0" name="RtuId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConnectToRtuResult" nillable="true" type="tns:ConnectToRtuResult" />
  <xs:simpleType name="CommandStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Executed" />
      <xs:enumeration value="Failed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CommandStatus" nillable="true" type="tns:CommandStatus" />
</xs:schema>