ClientWpfApp/Connected Services/ModbusServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ReadAnalogSignal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rtuId" type="xs:int" />
        <xs:element minOccurs="0" name="signalAddress" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadDiscreteSignal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rtuId" type="xs:int" />
        <xs:element minOccurs="0" name="signalAddress" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteAnalogSignal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rtuId" type="xs:int" />
        <xs:element minOccurs="0" name="signalAddress" type="xs:int" />
        <xs:element minOccurs="0" name="newValue" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteDiscreteSignal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rtuId" type="xs:int" />
        <xs:element minOccurs="0" name="signalAddress" type="xs:int" />
        <xs:element minOccurs="0" name="newValue" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryConnectToRtu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rtuId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryConnectToRtuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TryConnectToRtuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAnalogSignalValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rtuId" type="xs:int" />
        <xs:element minOccurs="0" name="signalAddress" type="xs:int" />
        <xs:element minOccurs="0" name="signalValue" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDiscreteSignalValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rtuId" type="xs:int" />
        <xs:element minOccurs="0" name="signalAddress" type="xs:int" />
        <xs:element minOccurs="0" name="signalValue" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeConnectionStatusToFalse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rtuId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>