ClientWpfApp/Connected Services/ModbusServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ModbusServiceLibrary.CommandResult" />
  <xs:element name="ReadAnalogSignal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rtuId" type="xs:int" />
        <xs:element minOccurs="0" name="signalAddress" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadDiscreteSignal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rtuId" type="xs:int" />
        <xs:element minOccurs="0" name="signalAddress" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteAnalogSignal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rtuId" type="xs:int" />
        <xs:element minOccurs="0" name="signalAddress" type="xs:int" />
        <xs:element minOccurs="0" name="newValue" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteDiscreteSignal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rtuId" type="xs:int" />
        <xs:element minOccurs="0" name="signalAddress" type="xs:int" />
        <xs:element minOccurs="0" name="newValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectToRtu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rtuId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectToRtuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModbusServiceLibrary.CommandResult" minOccurs="0" name="ConnectToRtuResult" nillable="true" type="q1:ConnectToRtuResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAnalogSignalValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rtuId" type="xs:int" />
        <xs:element minOccurs="0" name="signalAddress" type="xs:int" />
        <xs:element minOccurs="0" name="signalValue" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDiscreteSignalValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModbusServiceLibrary.CommandResult" minOccurs="0" name="readSingleCoilResult" nillable="true" type="q2:ReadSingleCoilResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeConnectionStatusToFalse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rtuId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>