SchedulerService/Connected Services/ModelServiceReference/ModelWcfServiceLibrary.Model.CronExpressionMappings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.CronExpressionMappings" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelWcfServiceLibrary.Model.CronExpressionMappings" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfModelCronExpressionMapping">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelCronExpressionMapping" nillable="true" type="tns:ModelCronExpressionMapping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelCronExpressionMapping" nillable="true" type="tns:ArrayOfModelCronExpressionMapping" />
  <xs:complexType name="ModelCronExpressionMapping">
    <xs:sequence>
      <xs:element minOccurs="0" name="End" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecurrencePeriod" type="xs:int" />
      <xs:element minOccurs="0" name="RecurrenceType" type="tns:ModelCronExpressionRecurrenceType" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelCronExpressionMapping" nillable="true" type="tns:ModelCronExpressionMapping" />
  <xs:simpleType name="ModelCronExpressionRecurrenceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Seconds" />
      <xs:enumeration value="Minutes" />
      <xs:enumeration value="Hours" />
      <xs:enumeration value="Daily" />
      <xs:enumeration value="Weekly" />
      <xs:enumeration value="Monthly" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ModelCronExpressionRecurrenceType" nillable="true" type="tns:ModelCronExpressionRecurrenceType" />
</xs:schema>